/* *{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.Spreadsheet__header{
   border: 1px solid black!important ;
   border-radius: 20px!important;
   margin: 50px!important;
   
}

td.Spreadsheet__cell {
  border: 1px solid black!important ;
  border-radius: 20px!important;
  margin: 50px!important;
 
}
.Spreadsheet__table {
 border-collapse:separate!important;
  table-layout: fixed;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .e-control, .e-ribbon, .e-lib{
  display: none!important;
} */
.e-keyboard{
  display: none!important;
}